<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qinjiance.tourist.mapper.TourRouteMapper">
	<select id="getByConditions" parameterType="map" resultType="tourRoute">
		select tr.id, tr.area_id, tr.departure_id, tr.name, tr.days, tr.index, tr.discount, tr.recommend,
		tr.sale_number, tr.departure_date, tr.price, tr.arrival_id, tr.create_time, tr.update_time
		from tour_route tr 
		left join route_view rv on tr.id = rv.route_id
		<where>
			<if test="areaId != null">
				tr.area_id = #{areaId}
			</if>
			<if test="departureId != null">
				and tr.departure_id = #{departureId}
			</if>
			<if test="viewId != null">
				and rv.view_id = #{viewId}
			</if>
			<if test="minDays != null">
				and tr.days >= #{minDays}
			</if>
			<if test="maxDays != null">
				<![CDATA[and tr.days <= #{maxDays}]]>
			</if>
			<if test="departureDates != null">
				and
				<foreach collection="departureDates" index="index" item="departureDate" open="("
					separator="or" close=")">
					tr.departure_date like CONCAT('%',#{departureDate},'%' )
				</foreach>
			</if>
		</where>
		group by tr.id
		order by 
		<choose>
		<when test="sort == 'index'">
		tr.index
		</when>
		<when test="sort == 'discount'">
		tr.discount
		</when>
		<when test="sort == 'recommend'">
		tr.recommend
		</when>
		<when test="sort == 'saleNumber'">
		tr.sale_number
		</when>
		<when test="sort == 'price'">
		tr.price
		</when>
		<when test="sort == 'updateTime'">
		tr.update_time
		</when>
		<when test="sort == 'createTime'">
		tr.create_time
		</when>
		<otherwise>
		tr.update_time
		</otherwise>
		</choose> 
		<if test="order == 'desc'">
		desc
		</if>
	</select>
</mapper>